body {
    background-image: url("assets/images/tile.jpg");
    font-family: 'Fredoka', 'Indie Flower', sans-serif, cursive;
    font-size: large;
}

h2 {
    font-weight: bolder;
    text-shadow: 2px 2px 3px black;
    color: #d9534f;
    font-size: 500%;
    text-align: center;
}

.round {
    border-radius: 20px;
}

.task_form_div {
    background-image: url("assets/images/formbg.jpg");
    border-radius: 20px;
}

.taskDiv {
    background-image: url("assets/images/notebg.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    height: 255px;
    position: relative;
}

.task-body {
    position: relative;
    width: 90%;
    top: 50px;
    height: 50%;
}

.task_p {
    overflow-wrap: break-word;
}

.task-footer {
    position: absolute;
    width: 90%;
    bottom: 5px;
    margin-left: 10px;
    font-size: smaller;
}

#editTaskContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5%;

}

.editTaskContainer .task-body {
    top: 43px;
    margin-left: 3px;
    width: 85%;
}

.editTaskContainer .task-footer {
    bottom: 15%;
    margin-left: 3px;
}

.editTaskContainer .task-footer input {
    width: 70%;
    margin-top: 3%;
}

.editTaskContainer textarea,
.editTaskContainer input {
    background: transparent;
}

/* Style the close button */
.task-btn {
    position: absolute;
    right: 26px;
    top: 20px;
    transform: scale(0.7);
}

.task-ok-btn{
    position: absolute;
    left: 10px;
    bottom: 10px;
    transform: scale(0.7);
}

.task_edit_btn{
    position: absolute;
    right: 52px;
    top: 20px;
    transform: scale(0.7);
}

/***** scroll bar settings ******/
/* width */
::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d9534f;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}